.section {
   margin: 0 auto;
   width: 100%;
   padding: 50px;
   height: var(--sectionsize);
   text-align: center;
}

.section:after {
   content: "";
   display: table;
   clear: both;
 }

.whoami::before {
   background-image: url("../images/pexels-fauxels-3183152.jpg");
   background-size: cover;
   background-position:center;
   margin-top: 4.5em;
   margin-left: 0em;
   margin-right: 0em;
   margin-bottom: 0em;

   opacity: 0.4;
   content: "";
   z-index: -1;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

.whoami {
   z-index: 1;
   position: relative;
}

.column {
   float: left;
   width: 50%;
   padding: 10px;
} 

.column p {
   margin-top: 1em;
   font-size:medium;
   color: black;
}


.column img {
   height: 16em;
   width: 11em;
   border-radius: 2%;
}

@media screen and (max-width: 600px) {
   .column {
      width: 100%;
   }

   .column img {
      height: 19em;
      width: 12em;
      margin-left: 3em;
   }


}